.wrapper {
  flex-grow: 1;
  flex-basis: 50%;
  height: auto;
  margin-bottom: 10px;
  min-height: 500px;
  /* min-width: 500px; */
  border: 1px solid #efefef;
  border-radius: 8px;
  overflow: auto;
  background-color: white;
}
