.wrapper {
    /* bottom: 0; */
    position: absolute;
    border-bottom: none;
    box-shadow: 0px -5px 10px lightgray;
    width: 100%;
    background-color: #fff;
    height: 50px;
}
.text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    font-family: 'Special Elite';
    transform: translate(-50%);
}